* {
    margin: 0px;
    padding: 0px;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    background-color: #76eec6;
    padding: 10px;
}

.ul--menu, .ul--menu--right {
    display: flex; /* Makes the list items appear in a row */
}

.ul--menu li, .ul--menu--right li {
    list-style: none;
}

.ul--menu li a, .ul--menu--right li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.ul--menu li:hover a, .ul--menu--right li:hover a {
    background-color: #838b8b;
    transition: all 0.3s;
}

.header--menu--right {
    margin-left: auto; /* Pushes this section to the right */
}
